/*

.view-id-my_favorites .views-field-rendered {
	float: left;
	margin-right: .5em;
	margin-bottom: .5em;
}
*/

.views-fluidgrid-item {
    margin: 3px;
    background-color: #e1e2dc;
}
.views-fluidgrid-item-inner {
    margin: 3px;
}
#header-top {
    position: absolute;
}